@import './variables'

@mixin page 
    display: flex
    flex-direction: column

    padding: 0 10%


@mixin footer-modal
    display: flex
    justify-content: flex-end
    padding: 1rem 0 .5rem 0


@mixin button-open-modal
    padding: 10px 40px
    font-size: 20px
    background-color: $color-button
    color: black
    border: none
    border-radius: 5px
    cursor: pointer


@mixin button-open-create
    padding: 10px 40px
    font-size: 20px
    background-color: $color-button
    color: black
    border: none
    border-radius: 5px
    cursor: pointer


@mixin button-delete
    padding: 10px 40px
    font-size: 20px
    background-color: #eb4685
    color: white
    border: none
    border-radius: 5px
    cursor: pointer

@mixin button-open-equip
    padding: 5px 20px
    font-size: 20px
    background-color: $color-button
    color: black
    font-weight: bold
    border: none
    border-radius: 5px
    cursor: pointer


@mixin button-edit
    padding: 10px 40px
    font-size: 20px
    background-color: #3cf4c6
    color: black
    border: none
    border-radius: 5px
    cursor: pointer


@mixin close-icon-modal
    display: flex
    float: right
    max-width: 40px
    max-height: 40px
    img
        contain: contain
        line-height: 20px
        text-align: center
        border-radius: 50%
        background-color: #fff
        color: #2c2c2c
        font-weight: bold
        font-size: 32px
        cursor: pointer
        margin-right: 10px
    


@mixin input-forms
    width: 100%
    font-family: Arial, sans-serif
    font-size: 20px
    color: #333
    background-color: #fff
    border: 1px solid #ccc
    border-radius: 4px
    height: 45px
    padding: 8px
    box-sizing: border-box
    transition: border-color 0.3s ease-in-out
    &:disabled
        background-color: #f2f2f2
        color: #b3b3b3
        cursor: not-allowed
    


@mixin label-forms
    text-align: left
    font-family: Arial, sans-serif
    font-size: 20px
    color: $labels-form


@mixin error-forms
    text-align: left
    font-size: 16px
    color: #dc2020


@mixin table
    width: 100%
    border-collapse: collapse
    margin-bottom: 20px


table th, table td
    padding: 10px
    text-align: left
    vertical-align: top
    border: 1px solid #ddd


table th
    font-weight: bold


table tr:nth-child(even)
    background-color: #f2f2
