// Global
$color-text: #d9d9d9  
$color-background: #1c1c1c


// Forms
$color-background-modal: #1c1c1c
$color-text: #d9d9d9
$color-input: #212121
$color-button: #ffcc00

// Table weapons
$table-bg-color: #402e2a
$table-header-bg-color: #2d1f1a
$table-text-color: #fff
$table-header-text-color: #d7b899
$table-border-color: #694b3c
    


$labels-form: #e6e6e6
    
    
    
    
$box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
